.venv/
__pycache__/
*.pyc
generated/third_party/connect4/*.o
generated/third_party/connect4/c4solver
generated/third_party/connect4/generator
generated/third_party/connect4/.depend
generated/third_party/connect4/*.book
generated/data/
generated/runs/
generated/results/*.png
generated/results/**/*.pt
generated/third_party/connect4/

exploracion-pre-propuesta/generated/third_party/connect4/*.o
exploracion-pre-propuesta/generated/third_party/connect4/c4solver
exploracion-pre-propuesta/generated/third_party/connect4/generator
exploracion-pre-propuesta/generated/third_party/connect4/.depend
exploracion-pre-propuesta/generated/third_party/connect4/*.book
exploracion-pre-propuesta/generated/third_party/connect4/
exploracion-pre-propuesta/generated/data/
exploracion-pre-propuesta/generated/runs/
exploracion-pre-propuesta/generated/results/*.png
exploracion-pre-propuesta/generated/results/**/*.pt
exploracion-pre-propuesta/generated/results/**/*.npz

.DS_Store
